@model WebApplicationFinal.Models.Book

@{
    ViewData["Title"] = "Details";
}

<link rel="stylesheet" href="~/css/detalii.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<h1 style="color:Tomato; background-color:DodgerBlue;">See details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.publisher)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.publisher)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.category_type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.category_type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.photoURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.photoURL)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.book_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
