@model IEnumerable<WebApplicationFinal.Models.Library>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.total_nr_of_books)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.borrowed_books)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.total_nr_of_books)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.borrowed_books)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.stock_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.stock_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.stock_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
